/* background shadow  */
.background2{
    box-shadow: 3px 3px 6px 8px #daa5205e;
    border-radius: 20px;
}
/* icon css  */
.icon{
    color: rgba(218, 165, 32, 0.801);
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
}