.dashboard{
    background-color: white;
    height: 100vh;
    color: black;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .dashboard-menu {
    list-style: none;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  .dashboard-menu:hover {
    color: black;
  }